<ion-header>
  <ion-toolbar>
    <ion-title>homepage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="paragraph-1">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sapien turpis, tempor in fermentum eget, placerat et leo. Maecenas fermentum, felis vel vulputate ultrices, est leo imperdiet dolor, eget bibendum nisl nisi et mauris. Vivamus feugiat ex quis magna lobortis, at feugiat purus pellentesque. Donec orci ligula, pharetra a ex non, varius efficitur erat. Fusce mattis facilisis pulvinar. Aliquam vestibulum elementum consectetur. Suspendisse potenti. Nullam congue nunc vel sodales pulvinar.</p>
  </div>
  <ion-row>
    <ion-col>
      <ion-button (click)="onLogout()" color="danger" expand="block">Logout</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
